<% include layouts/header.ejs %>

<div id="article-list" class="grid">
	<% articles.forEach(function (article) { %>
		<div class="unit w-1-3">
			<div class="item">
				<div class="thumbnail">
					<a href="/article/<%= article.id %>/<%= article.title %>">
						<img src="<%= article.thumbnail %>" alt="">
					</a>
				</div>
				<div class="item-title">
					<a href="/article/<%= article.id %>/<%= article.title %>">
						<h2><%= article.title %></h2>
					</a>
				</div>
				<div class="item-tags">

				</div>
				<div class="item-date">
					<%= article.createdShort || '' %>
				</div>
				<div class="clear"></div>
				<div>
					<%= article.views %>
				</div>
				
				<div class="clear"></div>
			</div>
		</div>
	<% }) %>
</div>

<script>

	setTimeout(function () {


		var number = 1,
			infiniteLoading = true;

		registerScrollTopListener(document.getElementById('article-list'), function (againstElementBottomPos, scrollTop) {

			if (infiniteLoading && 
				scrollTop > againstElementBottomPos) {

				infiniteLoading = false;

				ajaxGet('/more/' + number, {}, function (articles) {
					if (articles.length > 0) {
						number++;
						var moreHtml = getMoreIndexHtml(articles);
						appendMoreIndexHtml(document.getElementById('article-list'), moreHtml);

						setTimeout(function () {
							infiniteLoading = true;
						}, 3000);
					}
				});
			}
			
		});

	}, 0);
	


</script>

<% include layouts/footer.ejs %>