<% include ../layouts/header.ejs %>

<div id="article-list" class="grid no-gutters">
	<% articles.forEach(function (article) { 
		if (article) {
	%>
		<div class="unit w-1-3">
			<div class="item">
				<div class="thumbnail">
					<a href="/article/<%= article.id %>/<%= article.title %>">
						<img src="<%= article.thumbnail %>" alt="">
					</a>
				</div>
				<div class="item-title">
					<a href="/article/<%= article.id %>/<%= article.title %>">
						<h2><%= article.title %></h2>
					</a>
				</div>
				<div class="item-tags">

				</div>
				<div class="item-date">
					<%= article.createdShort || '' %>
				</div>
				<div>
					<form method="post" action="delete">
						<input type="hidden" name="articleId" value="<%= article.id %>">
						<input type="hidden" name="articleCategory" value="<%= article.category %>">
						<button type="submit">Delete</button>
					</form>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	<% }}) %>
</div>

<script>

	document.onreadystatechange = function () {

		if (document.readyState == 'interactive') {

			var number = 1,
				infiniteLoading = true;

			registerScrollTopListener(document.getElementById('article-list'), function (againstElementBottomPos, scrollTop) {

				if (infiniteLoading && 
					scrollTop > againstElementBottomPos) {

					infiniteLoading = false;

					ajaxGet('/article/my-articles/more/' + number, {}, function (articles) {
						if (articles.length > 0) {
							number++;
							var moreHtml = getMoreIndexHtml(articles);
							appendMoreIndexHtml(document.getElementById('article-list'), moreHtml);

							setTimeout(function () {
								infiniteLoading = true;
							}, 3000);
						}
					});
				}
				
			});

			
		}

	}




	


</script>

<% include ../layouts/footer.ejs %>