<div class="fb-like" 
	 data-href="https://mobile360.net"
	 data-layout="box_count"
	 data-action="like"
	 data-show-faces="true"
	 data-share="false">
</div>
<div class="bottom-margin-16"></div>
<h3>Related</h3>
<div id="sidebar">
	
</div>

<script>

	setTimeout(function () {

		<% 
			var sidebarRelatedArticlesAmount = viewVariables.view.relatedArticles.sidebar.amount,
				prevAndNextRelatedArticlesAmount = viewVariables.view.relatedArticles.prevAndNext.amount,
				bottomRelatedArticlesAmount = viewVariables.view.relatedArticles.bottom.amount,
				totalRelatedArticles = sidebarRelatedArticlesAmount + prevAndNextRelatedArticlesAmount + bottomRelatedArticlesAmount; 
		%>

		ajaxGet('/article/random/<%= totalRelatedArticles %>', {}, function (articles) {
			removeElementInList(articles, 'id', <%= articleId %>);
			document.getElementById('sidebar').innerHTML = getSidebarHtml(articles.splice(0, <%= sidebarRelatedArticlesAmount %>));
			document.getElementById('prev-and-next-related-articles').innerHTML = getSidebarHtml(articles.splice(0, <%= prevAndNextRelatedArticlesAmount %>));
			document.getElementById('bottom-related-articles').innerHTML = getSidebarHtml(articles.splice(0, <%= bottomRelatedArticlesAmount %>));
		});

	}, 0);

</script>