<% include ../layouts/header.ejs %>


<div class="grid" id="article-view">
	<div class="unit golden-large">
		<p class="hidden" id="articleId"><%= article.id %></p>
		<h1><%= article.title %></h1>
		<br>
		<br>
		<%= article.createdShort || '' %>
		<br>
		<br>
		<%= article.authorName %>
		<br>
		<br>
		<%- article.content %>
		<br>
		<br>
		<div id="prev-and-next-related-articles" class="hidden"></div>
		<br>
		<br>
		<div id="bottom-related-articles"></div>
	</div>

	<div class="unit golden-small">
		<% include sidebar.ejs %>
	</div>
</div>


<% include ../layouts/footer.ejs %>