<% include ../layouts/header.ejs %>


<div class="grid" id="article-view">
	<div class="unit golden-large">
		<h1><%= article.title %></h1>
		<%= article.createdShort || '' %>
		<br>
		<br>
		<%= article.authorName %>
		<br>
		<br>
		<%- article.content %>
		<br>
		<br>
		<div id="prev-and-next-related-articles" class="hidden"></div>
		<br>
		<br>
		<h3>Don't Miss These !</h3>
		<div id="bottom-related-articles"></div>
		<br>
		<br>
		<div class="fb-comments" 
			 data-href="<%= pageUrl %>"
			 data-numposts="8"
			 data-width="100%"
			 data-colorscheme="light">
		</div>
	</div>

	<div class="unit golden-small">
		<% include sidebar.ejs %>
	</div>
</div>


<% include ../layouts/footer.ejs %>